<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RadioStar</title>
  <link rel="stylesheet" href="static/css/pure-min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div id="app">
<div id="layout">
     <!--Menu toggle-->
    <a href="#menu" id="menuLink" class="menu-link">
         <!--Hamburger icon-->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">RadioStar</a>

            <ul class="pure-menu-list" id="sources">
              
              <li class="pure-menu-item"><button class="pure-button" id="add-url-btn">+</button></li>
                <div id="add-url-div" style="display:none;">
                  <li class="pure-menu-item"><input type="text" name="url" /></li>
                </div>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="player-control" >
          <!--<button class="pure-button"><img alt="back" src="static/img/control_back.png"></button>-->
          <button class="pure-button"><img id="playstop" alt="play" src="static/img/control_play_up.png"></button>
          <button class="pure-button"><img id="next" alt="next" src="static/img/control_next.png"></button>
        </div>
        
        <div id="active-content"></div>
        <div class="pure-g content">
          <div class="pure-u-1-2"> <ul id="queued-content"></ul></div>
          <div class="pure-u-1-2"> <ul id="played-content"></ul></div>
        </div>
    </div>
</div>
</div>
  
  <!--Templates-->
  <script type="text/template" id="item-template">
    <%- title %>
  </script>
  
  <script type="text/template" id="source-button-template">
    <button class="pure-menu-link source-button" value=<%- url %>><%- name %></button>
  </script>
  
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/jquery-ui.min.js"></script>
  <script src="static/js/underscore.js"></script>
  <script src="static/js/backbone.js"></script>
  <script src="static/js/knockout-3.3.0.js"></script>
  <script src="static/js/responsivevoice.js"></script>
  <script src="static/js/ui.js"></script>
  <script src="static/js/main.js"></script>

</body>
</html>
